---
export interface Props {
  title: string;
  data?: object;
}

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";

const { title = "", data } = Astro.props;
---

<Layout
  title={title}
  enqueuedStylesheets={data.enqueuedStylesheets.edges || []}
  enqueuedScripts={data.enqueuedScripts.edges || []}
  data={data}
>
  <section class="container mt-28 mb-8 lg:mb-0">
    <h1 class="page-header">{title}</h1>
  </section>
  <section class="content-wrapper" set:html={data.content} />
</Layout>
