---
export interface Props {
  title: string;
  data?: object;
}

import Layout from "../layouts/Layout.astro";

const { title = "", data } = Astro.props;
---

<Layout
  title={title}
  data={data}
  htmlClassName="snap-y snap-mandatory"
  footerClassName="snap-start"
  enqueuedStylesheets={data.enqueuedStylesheets.edges || []}
>
  <style is:global>
    body.home-page .header {
      @apply fixed z-50;
    }
  </style>
  <section class="">
    <div class="lottie-container min-h-screen">
      <lottie-player
        id="start"
        mode="normal"
        autoplay
        loop
        class="lottie"
        x-data=""
        x-intersect:leave.threshold.95.once="console.log(33); const next = document.querySelector('#intro'); next.scrollIntoView({behavior:'smooth'});"
        src="/lottie/00.json"></lottie-player>
    </div>
    <div class="lottie-container" id="intro">
      <lottie-player
        id="intro-start"
        mode="normal"
        class="lottie lottie--inactive"
        x-data
        x-intersect.threshold.10.once=" $el.scrollIntoView({ behavior: 'smooth' }); $el.classList.remove('lottie--inactive'); $el.play()"
        @complete="$el.remove(); const next = document.querySelector('#intro-loop');next.classList.remove('lottie--inactive');next.play();"
        preserveAspectRatio="xMidYMid slice"
        src="/lottie/intro/intro.json"></lottie-player>
      <lottie-player
        id="intro-loop"
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        background="#000000"
        x-data="{entered: false}"
        @play.once="entered = true"
        src="/lottie/intro/loop.json"></lottie-player>
      <!-- <lottie-player
        id="intro-exit"
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        x-data
        @complete.once="const next = document.querySelector('#inclusion'); next.scrollIntoView({ behavior: 'smooth'}); setTimeout(() => { $el.remove(); document.querySelector('#intro-loop').classList.remove('lottie--inactive')}, 1000)"
        src="/lottie/intro/exit.json"></lottie-player> -->
    </div>
    <div class="lottie-container">
      <lottie-player
        id="inclusion"
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        renderer="canvas"
        x-data
        x-intersect.threshold.02.once="$el.scrollIntoView({ behavior: 'smooth' }); $el.classList.remove('lottie--inactive'); $el.play()"
        src="/lottie/02-inclusion/data.json"></lottie-player>
    </div>
    <div class="lottie-container">
      <lottie-player
        id="projects"
        mode="normal"
        class="lottie lottie--inactive"
        x-data
        x-intersect.threshold.02.once="$el.scrollIntoView({ behavior: 'smooth' }); $el.classList.remove('lottie--inactive'); $el.play()"
        renderer="canvas"
        @complete.once="const next = document.querySelector('#projects-loop');next.classList.remove('lottie--inactive');next.play(); $el.remove();"
        preserveAspectRatio="xMidYMid slice"
        src="/lottie/03-projects/intro.json"></lottie-player>
      <lottie-player
        id="projects-loop"
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        renderer="canvas"
        x-data="{entered: false}"
        @play.once="entered = true; const html = document.querySelector('html'); html.classList.add('snap-proximity'); html.classList.remove('snap-mandatory')"
        src="/lottie/03-projects/loop.json"></lottie-player>
    </div>
  </section>
  <!-- <section class="content-wrapper" set:html={data.content} /> -->
</Layout>

<script>
  import "@lottiefiles/lottie-player";
  import Alpine from "alpinejs";
  import intersect from "@alpinejs/intersect";

  Alpine.plugin(intersect);

  // start.addEventListener("complete", () => {
  //   const introLoop = document.querySelector("#intro-loop");
  //   introLoop.classList.remove("opacity-0");
  //   introLoop.classList.remove("absolute");
  //   introLoop.play();
  //   intro.remove();
  // });
</script>
