---
export interface Props {
  title: string;
  data?: object;
}

import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

const { title = "", data } = Astro.props;
---

<Layout
  title={title}
  data={data}
  htmlClassName="snap-y snap-mandatory"
  footerClassName="!mt-0 snap-start"
  enqueuedStylesheets={data.enqueuedStylesheets.edges || []}
>
  <style is:global>
    body.home-page .header {
      @apply fixed z-50;
    }
  </style>
  <div
    x-data="{show: false}"
    x-cloak
    x-show="show"
    @lotties-fully-loaded.window.camel.once="show = true"
    @scroll.window.passive="if (show) show = false"
    @scrollend.window.passive="if (show) show = false"
    x-transition:enter="transition delay-[450ms] duration-300 ease-in-out"
    x-transition:enter-start="opacity-0 -translate-y-12"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition duration-200 ease-out"
    x-transition:leave-end="opacity-0 -translate-y-12"
    x-transition:leave-start="opacity-100 translate-y-0"
    class="uppercase fixed bottom-4 left-1/2 -translate-x-1/2 text-center text-grey text-base"
  >
    Scroll to enter
    <br /><br />
    <i class="fa fal fa-chevron-down animate-bounce"></i>
  </div>
  <section class="">
    <div
      class="lottie-container min-h-screen"
      x-data="lottieLoop('#intro-container', false)"
    >
      <lottie-player
        id="start"
        mode="normal"
        autoplay
        loop
        class="lottie"
        x-bind="splash"
        x-ref="loopRef"
        src="/lottie/00.json"></lottie-player>
      <div
        x-data="{total: 0, current: 0, timer: false}"
        x-show="current !== total"
        x-transition:leave="opacity-0 translate-y-8"
        class="absolute top-2/3 left-1/2 -translate-x-1/2 transition duration-300 delay-500 text-center text-grey text-base"
        x-init="total = document.querySelectorAll('lottie-player').length; document.body.style.overflow='hidden'; timer = setTimeout(() => { $el.innerHTML='Sorry... we are facing some issue loading the animations,<br>please try refreshing the page!'}, 4000)"
        @lottie-loaded.camel.window="current += 1"
        x-effect="if (current === total) { $dispatch('lottiesFullyLoaded'); clearTimeout(timer); document.body.style.removeProperty('overflow') }"
      >
        Loading... <span x-text="`${Math.round(current / total * 100)}%`"
        ></span>
      </div>
    </div>
    <div
      class="lottie-container sticky top-16"
      id="intro-container"
      x-data="lottieLoop('#inclusion-container')"
    >
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        x-bind="loopStart"
        x-ref="startRef"
        preserveAspectRatio="xMidYMid slice"
        src="/lottie/intro/intro.json"></lottie-player>
      <lottie-player
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        background="#000000"
        x-bind="loop"
        x-ref="loopRef"
        revert-on-exit
        src="/lottie/intro/loop.json"></lottie-player>
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        x-bind="loopExit"
        x-ref="endRef"
        src="/lottie/intro/exit.json"></lottie-player>
    </div>
    <div
      class="lottie-container"
      id="inclusion-container"
      x-data="lottieLoop('#projects-container', false)"
    >
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        renderer="canvas"
        x-bind="loop"
        x-ref="loopRef"
        src="/lottie/02-inclusion/data3.json"></lottie-player>
      <div
        class="absolute bottom-12 left-[44%] -transform-x-1/2 z-40"
        style="transition-delay: 1000ms"
        x-show="entered"
        x-cloak
        x-bind="button"
      >
        <Button href="/about" theme="black" className="bg-white scale-110">
          Learn About Us
        </Button>
      </div>
    </div>
    <div
      class="lottie-container bg-[var(--bg-color)]"
      id="projects-container"
      x-data="lottieLoop('#collective-container', false)"
    >
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        x-bind="loopStart"
        x-ref="startRef"
        preserveAspectRatio="xMidYMid slice"
        @play.once="entered=true"
        @wheel.once.passive="animateLoopExit()"
        renderer="canvas"
        src="/lottie/03-projects/intro2.json"></lottie-player>
      <lottie-player
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        x-bind="loop"
        x-ref="loopRef"
        renderer="canvas"
        src="/lottie/03-projects/loop2.json"></lottie-player>
      <div
        class="absolute bottom-20 left-1/2 -translate-x-1/2 z-40"
        style="transition-delay: 2400ms"
        x-show="entered"
        x-cloak
        x-bind="button"
      >
        <Button href="/projects" theme="black" className="scale-110">
          Explore Projects
        </Button>
      </div>
    </div>
    <div
      class="lottie-container bg-[var(--bg-color)]"
      id="collective-container"
      x-data="lottieLoop('#joinus-container')"
    >
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        x-bind="loopStart"
        x-ref="startRef"
        background="#F2F1EE"
        renderer="canvas"
        preserveAspectRatio="xMidYMid slice"
        src="/lottie/04-collective/intro2.json"></lottie-player>
      <lottie-player
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        x-bind="loop"
        x-ref="loopRef"
        background="#F2F1EE"
        renderer="canvas"
        src="/lottie/04-collective/loop2.json"></lottie-player>
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        x-bind="loopExit"
        x-ref="endRef"
        background="#F2F1EE"
        renderer="canvas"
        src="/lottie/04-collective/exit2.json"></lottie-player>
      <div
        class="absolute top-[55%] left-1/2 -translate-x-1/2 z-40"
        style="transition-delay: 300ms"
        x-transition:leave="transition ease-in !delay-0 duration-[900ms]"
        x-transition:leave-start="translate-y-0 opacity-100"
        x-transition:leave-end="translate-y-[-70vh] opacity-0"
        x-show="entered"
        x-cloak
        x-bind="button"
      >
        <Button href="/people" theme="black" className="scale-110">
          Meet our Collective
        </Button>
      </div>
    </div>
    <div
      class="lottie-container bg-[var(--bg-color)]"
      id="joinus-container"
      x-data="lottieLoop(false, false)"
    >
      <lottie-player
        mode="normal"
        class="lottie lottie--inactive"
        x-bind="loopStart"
        x-ref="startRef"
        renderer="canvas"
        preserveAspectRatio="xMidYMid slice"
        src="/lottie/05-joinus/intro2.json"></lottie-player>
      <lottie-player
        loop
        mode="normal"
        class="lottie lottie--inactive"
        preserveAspectRatio="xMidYMid slice"
        renderer="canvas"
        x-bind="loop"
        x-ref="loopRef"
        @play.once="$store.scrollStop.active = false; document.documentElement.classList.remove('snap-y');"
        src="/lottie/05-joinus/loop2.json"></lottie-player>
      <div
        class="absolute top-[37%] left-1/2 -translate-x-1/2 z-40"
        style="transition-delay: 0ms"
        x-show="entered"
        x-transition
        x-cloak
        x-bind="button"
      >
        <Button href="/get-involved" theme="black" className="scale-110">
          Get Involved
        </Button>
      </div>
    </div>
  </section>
  <!-- <section class="content-wrapper" set:html={data.content} /> -->
</Layout>

<script>
  import "@lottiefiles/lottie-player";
  import Alpine from "alpinejs";
  import intersect from "@alpinejs/intersect";

  Alpine.plugin(intersect);

  function ready(fn) {
    if (document.readyState !== "loading") {
      fn();
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  ready(() => {
    document.body.scrollTop = document.documentElement.scrollTop = 0;
  });

  document.addEventListener("alpine:init", () => {
    Alpine.data("lottieLoop", (nextSelector, hasExitAnimation = true) => ({
      init() {
        if (this.$refs.startRef) {
          this.$refs.startRef.addEventListener(
            "load",
            () => {
              this.$dispatch("lottieLoaded");
            },
            {
              passive: true,
              once: true,
            }
          );
        }
        if (this.$refs.loopRef) {
          this.$refs.loopRef.addEventListener(
            "load",
            () => {
              this.$dispatch("lottieLoaded");
            },
            {
              passive: true,
              once: true,
            }
          );
        }
        if (this.$refs.endRef) {
          this.$refs.endRef.addEventListener(
            "load",
            () => {
              this.$dispatch("lottieLoaded");
            },
            {
              passive: true,
              once: true,
            }
          );
        }
      },
      hasExitAnimation,
      nextSelector,
      buttonDelay: 1000,
      entered: false,
      button: {
        "x-transition:enter": "transition ease-out",
        "x-transition:enter-start":
          "translate-y-[5rem] opacity-0 duration-1000",
        "x-transition:enter-end": "translate-y-0 opacity-100",
      },
      loopStart: {
        "@complete"() {
          this.$refs.loopRef.classList.remove("lottie--inactive");
          this.$nextTick(() => {
            this.$el.remove();
            this.$refs.loopRef.play();
          });
        },
        "x-intersect.threshold.100.once"() {
          this.$el.classList.remove("lottie--inactive");
          this.$el.play();
          if (this.nextSelector) {
            this.$store.scrollStop.active = true;
          }
        },
      },
      animateLoopExit() {
        if (this.$el.getAttribute("revert-on-exit") && this.hasExitAnimation) {
          this.$el.setDirection(-1);
          this.$el.toggleLooping();
          this.$el.setSpeed(10);
          this.$el.addEventListener("complete", () => {
            const next = this.$refs.endRef;
            next.classList.remove("lottie--inactive");
            next.play();
            this.$el.classList.add("lottie--inactive");
            // this.entered = false;
          });
        } else {
          if (this.hasExitAnimation && this.entered) {
            const next = this.$refs.endRef;
            next.classList.remove("lottie--inactive");
            next.play();
            this.$el.classList.add("lottie--inactive");
            this.entered = false;
          } else if (this.entered && this.hasExitAnimation === false) {
            this.scrollToNextContainer();
          }
        }
      },
      scrollToNextContainer() {
        this.$store.scrollStop.active = false;
        if (this.nextSelector) {
          const next = document.querySelector(this.nextSelector);
          next.scrollIntoView({ behavior: "smooth" });
          const loopElem = this.$refs.loopRef;
          setTimeout(() => {
            if (this.hasExitAnimation) {
              this.$el.remove();
            }
            loopElem.classList.remove("lottie--inactive");
            if (loopElem.getAttribute("revert-on-exit")) {
              loopElem.setDirection(1);
              loopElem.setSpeed(1);
              loopElem.toggleLooping();
              loopElem.play();
            }
          }, 2000);
        } else {
          this.$store.scrollStop.active = false;
        }
      },
      splash: {
        "@play.once"() {
          if (this.entered === false) {
            this.$store.scrollStop.active = true;
            this.entered = true;
          }
        },
        "@lotties-fully-loaded.window.camel.once"() {
          const goNext = (event) => {
            if (event.deltaY > 0) {
              this.animateLoopExit();
            } else {
              if (this.nextSelector) {
                this.$store.scrollStop.active = false;
              }
            }
          };
          this.$el.addEventListener("scrollend", goNext, {
            passive: true,
            once: true,
          });
          this.$el.addEventListener("wheel", goNext, {
            passive: true,
            once: true,
          });
        },
      },
      loop: {
        "x-intersect.threshold.100.once"() {
          if (!!!this.$refs.startRef) {
            this.$el.classList.remove("lottie--inactive");
            this.$el.play();
          }
        },
        "@play.once"() {
          if (this.entered === false) {
            this.$store.scrollStop.active = true;
            this.entered = true;
          }
        },
        "@wheel.once.passive"(event) {
          if (event.deltaY > 0) {
            this.animateLoopExit();
          } else {
            if (this.nextSelector) {
              this.$store.scrollStop.active = false;
            }
          }
        },
        "@scrollend.once.passive"(event) {
          console.log(event);
          this.animateLoopExit();
        },
      },
      loopExit: {
        "@complete.once"() {
          this.scrollToNextContainer();
        },
      },
    }));
  });
  // start.addEventListener("complete", () => {
  //   const introLoop = document.querySelector("#intro-loop");
  //   introLoop.classList.remove("opacity-0");
  //   introLoop.classList.remove("absolute");
  //   introLoop.play();
  //   intro.remove();
  // });
</script>
