---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
import Footer from "../components/Footer.astro";
import { getImageUrl } from "../helpers";

export interface Props {
  title: string;
  data?: object;
}

const { title = "Single Product", data } = Astro.props;
---

<script define:vars={{ data }}>
  console.log(data);
</script>

<Layout title={title} logoWrapperClassName="py-2">
  <div class="w-full"></div>
  <Footer />
</Layout>
