---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { fetchGQL } from "../helpers";

const { data } = await fetchGQL(`
  query AllMenus {
    desktopNav: menu(id: "Desktop Menu", idType: NAME) {
      menuItems {
        nodes {
          target
          uri
          label
          menuItemFields{
            cssClasses
            hoverGifWidth
            hoverGifLeftMargin
            hoverGif {
              sourceUrl
            }
          }
        }
      }
    }
    mobileNav: menu(id: "Mobile Menu", idType: NAME) {
      menuItems {
        nodes {
          target
          uri
          label
        }
      }
    }
    footerNav: menu(id: "Footer Menu", idType: NAME) {
      menuItems {
        nodes {
          target
          uri
          label
        }
      }
    }
  }`);
---

<Layout title={"404"} data={data}>
  <style>
    :root {
      --bg-color: #f3f1ef;
    }
  </style>
  <div
    class="container flex flex-col items-center h-full my-16 lg:my-28 opacity-0 translate-y-4 transition-all"
    x-data="{ show: false }"
    :class="{ 'opacity-0': !show, 'translate-y-4': !show }"
    x-intersect.half.once="show = true"
  >
    <div class="max-w-[400px]">
      <video muted autoplay loop class="aspect-square">
        <source src="/img/404.mp4" type="video/mp4" />
      </video>
    </div>
    <h1 class="page-header">Error 404</h1>
    <p>Oops! The page you're looking for is nowhere to be found.</p>
    <Button href="/" theme="black" className="text-xl mt-8">Back Home</Button>
  </div>
</Layout>
