---
export interface Props {
  className?: string;
  showCartButton?: boolean;
  data?: any;
}
const { className, showCartButton, data } = Astro.props;
---

<footer class:list={["footer", className]} id="footer">
  <div class="container shm-grid">
    <div class="col-span-5">
      <picture class="footer-logo-wrapper">
        <source srcset="/img/full-logo.png, /img/full-logo@2x.png 2x" />
        <img src="./img/full-logo.png" alt="" />
      </picture>
    </div>
    <div class="col-span-5 max-md:text-center py-15 lg:pt-0 lg:pb-48 h3">
      <p>Pushing the boundaries of inclusion through the creative arts.</p>
    </div>
    <div class="col-start-13 col-end-15">
      <nav class="footer-menu text-grey">
        {
          data &&
            data.map((menu) => (
              <a
                href={menu.uri}
                {...(menu.target ? { target: menu.target } : {})}
              >
                {menu.label}
              </a>
            ))
        }
        {
          showCartButton && (
            <button class="snipcart-checkout text-left text-grey p-0 normal-case">
              Cart (<span class="snipcart-items-count">0</span>)
            </button>
          )
        }
      </nav>
    </div>
    <div class="col-start-6 col-end-10 max-md:pt-15">
      <p class="smaller-text max-md:text-center">
        &copy; 2023 - Superhero Me Ltd. <br />All rights reserved.
      </p>
    </div>
    <div class="col-start-13 col-end-15 hidden lg:block">
      <div class="social-wrapper">
        <a
          href="https://instagram.com/superheromesg"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.facebook.com/SuperheroMeSG"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="https://www.youtube.com/@superherome2224"
          _blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
