---
export interface Props {
  title: string;
  logoUrl?: string;
  logoWrapperClassName?: string;
}

import "../../styles/main.css";
import "../../styles/fontawesome.css";
import MobileMenu from "../components/MobileMenu.astro";

const { title, logoUrl = "/img/logo.svg", logoWrapperClassName } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Superhero Me</title>
  </head>
  <body>
    <header class="header">
      <div class:list={["logo-wrapper", logoWrapperClassName]}>
        <a href="/">
          <img src={logoUrl} alt="" />
        </a>
      </div>
      <nav class="menu">
        <a href="/about">About</a>
        <a href="/people">Our Collective</a>
        <a href="/projects">Projects</a>
        <a href="/shop">Shop</a>
        <a href="/get-involved">Get Involved</a>
      </nav>
    </header>
    <MobileMenu />
    <main>
      <slot />
    </main>
  </body>
</html>
