@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #F2F1EE;
  }

  body {
    @apply font-apercu;
    @apply body-text antialiased;
    @apply bg-[var(--bg-color)];
  }

  .page-header, h1 {
    @apply text-2xl/10 lg:text-3xl/12 font-gt-pressura font-bold uppercase;
    @apply tracking-widest;
  }

  .body-text {
    @apply text-2xl leading-10;
  }

  .h2, h2 {
    @apply text-[2.5rem] leading-12 lg:text-[5rem] lg:leading-[5rem] text-left;
  }

  h3 {
    @apply text-2xl lg:text-3xl lg:leading-12 tracking-tight;
  }

  .big-text {
    @apply text-[5rem] leading-[5rem];
  }

  .small-text {
    @apply text-2xl lg:text-base leading-10 lg:leading-6;
  }

  .smaller-text {
    @apply text-base tracking-wide text-grey;
  }

  p + p {
    @apply mt-6;
  }

  [x-cloak] { @apply !hidden }
}

@layer components {

  .action-bar {
    @apply flex flex-col lg:flex-row mt-24 mb-22 lg:my-28 justify-center items-center;
  }

  .header {
    @apply w-full flex relative justify-between items-center max-md:border-b-1;
    @apply max-md:sticky top-0 bg-white-off z-40;
  }

  .logo-wrapper {
    @apply ml-12 lg:ml-0 flex-1;
    @apply py-2 lg:py-3 px-5 lg:pr-0;

    a {
      @apply flex flex-row justify-center lg:justify-start relative;
    }

    img {
      @apply h-10;
    }
  }
  
  .menu {
    @apply hidden lg:flex w-[62.5%] py-3 justify-between;
    @apply font-apercu text-base leading-6 tracking-tight uppercase text-black;
  }

  .logo-wrapper, .header-left {
    @apply lg:w-52;
  }

  .header-left {
    @apply flex justify-end;
  }

  .snipcart-checkout {
    @apply font-apercu text-base leading-6 tracking-tight uppercase text-black py-3 px-4;
    @apply hidden;
    @apply lg:block;
  }

  .button {
    --text-color: #575757;
    --border-color: #575757;
    --bg-color: transparent;
    --hover-text-color: #4c9053;
    --hover-border-color: #4c9053;
    --hover-bg-color: transparent;

    @apply text-base font-apercu uppercase;
    @apply overflow-hidden;
    @apply max-md:mx-6 block leading-8 py-2 px-6 relative;
    @apply border-[1px] tracking-widest rounded-lg;
    @apply lg:inline-block;
    @apply wide:px-8 wide:py-4 wide:text-xl;
    @apply transition-all duration-300;

    @apply text-[var(--text-color)];
    @apply border-[var(--border-color)];
    @apply bg-[var(--bg-color)];

    @apply hover:text-[var(--hover-text-color)];
    @apply hover:border-[var(--hover-border-color)];
    
    &:before {
      content: '';
      @apply top-0 left-0 h-full absolute;
      @apply bg-[var(--hover-bg-color)];
      @apply hover:animate-button;
    }

    &.button--white {
      --text-color: #fff;
      --border-color: #fff;

      --hover-text-color: #4c9053;
      --hover-border-color: #fff;
      --hover-bg-color: #fff;
    }

    &.button--black {
      --text-color: #1a1a1a;
      --border-color: #1a1a1a;

      --hover-text-color: #ffffff;
      --hover-border-color: #1a1a1a;
      --hover-bg-color: #1a1a1a;
    }
  
    &.button--wide {
      @apply max-md:mx-0 w-full;
    }

    &.button--hover-black {
      --hover-text-color: #fff;
      --hover-border-color: #1A1A1A;
      --hover-bg-color: #1A1A1A;
    }

    &.button--hover-yellow {
      --hover-text-color: #4c9053;
      --hover-border-color: #FFD980;
      --hover-bg-color: #FFD980;
    }

    &.button--hover-green {
      --hover-text-color: #fff;
      --hover-border-color: #fff;
      --hover-bg-color: #4c9053;
    }

    span {
      @apply relative z-20;
    }
  }


  .accordion-main-text {
    @apply font-normal;
    @apply col-start-3 col-end-9 mb-5;
    @apply wide:col-start-4 wide:col-end-10;
  }

  .accordion {
    @apply pt-10 pb-0 lg:pt-11 lg:pb-2;
    @apply transition-all duration-300;
  }

  .accordion + .accordion {
    @apply pt-12 lg:pt-11;
  }

  .accordion:last-child .accordion-line:last-child {
    @apply hidden;
  }

  .accordion-header {
    @apply flex flex-row w-full shm-grid items-center;
  }

  .accordion-header__btn-wrapper {
    @apply col-span-1 order-2 lg:order-1 max-sm:w-14 w-10;
  }

  .accordion-header__btn-wrapper--alt {
    @apply order-3 lg:order-3;
  }

  .accordion-header__title {
    @apply col-start-3 col-end-16 max-sm:flex-1 lg:order-2;
  }

  .accordion-body {
    @apply shm-grid pt-10 lg:pt-16 w-full;
  }

  .accordion-btn-wrapper {
    @apply max-md:mt-16 text-center lg:text-left;
  }

  .accordion-btn-wrapper + .accordion-btn-wrapper {
    @apply max-md:mt-10;
  }

  [class~=".accordion-col-1/2"] {
    @apply col-span-8;
  }

  .accordion-col-2 {
    @apply col-start-10 col-end-13;
    @apply wide:col-start-11 wide:col-end-14;
  }

  .accordion-col-3 {
    @apply col-start-13 col-end-15;
    @apply wide:col-start-14 wide:col-end-16;
  }

  .accordion-col-2, .accordion-col-3, [class~=".accordion-col-1/2"] {
    @apply pt-2;
  }

  .footer {
    @apply bg-grey-light py-22 lg:py-32;
  }

  .footer-menu {
    @apply small-text lg:smaller-text flex flex-col gap-y-2 max-md:items-center;
  }

  .footer-logo-wrapper {
    @apply w-56 block max-md:mx-auto;

    picture, img {
      @apply max-md:mx-auto;
    }
  }

  .social-wrapper {
    @apply flex flex-row gap-x-8 text-[2.5rem];
  }

  .project-card, .product-card {
    @apply w-full md:w-1/2 lg:w-1/3 p-5;
  }

  .product-image-wrapper {
    @apply relative overflow-hidden;
  }

  .product-button {
    @apply flex-1 uppercase text-base p-4 text-center translate-y-full opacity-0;
    @apply transition-all duration-300 hover:text-white;
  }
}

@layer utilities {
  .container {
    @apply max-w-400 px-8 mx-auto;
  }

  .shm-grid {
    @apply lg:grid lg:grid-cols-16 gap-x-4;
  }

  .carousel {
    @apply transition-all duration-300 ease-in delay-200;
  }

  .carousel:not(.flickity-enabled) {
    @apply flex flex-row opacity-0 translate-y-8 items-stretch;
  }

  .carousel.flickity-enabled {
    @apply md:flex flex-wrap flex-row justify-end;
    @apply translate-y-0;

    .flickity-button.flickity-prev-next-button.previous {
      @apply order-1 left-auto;
    }

    .flickity-button.flickity-prev-next-button.next {
      @apply order-2 right-0 ml-2 mr-[13%];
    }

    .flickity-viewport {
      @apply order-3 w-full;
      transition: height 0.3s;
    }

    .flickity-button {
      @apply bg-transparent hover:bg-white transition-colors relative max-md:hidden;
      border: 2px solid #000;
    }
  }

  .collective-carousel {
    .flickity-page-dots {
      @apply w-auto bg-grey-scrollbar rounded-full left-1/2 -translate-x-1/2 -bottom-8;
      @apply lg:hidden;

      .flickity-page-dot {
        @apply mx-0 bg-grey-scrollbar;
        @apply focus:shadow-none;

        &.is-selected {
          @apply bg-black;
        }
      }
    }
  }
}

@font-face {
    font-family: 'GT Pressura';
    src: url('/fonts/GTPressura-Bold.woff2') format('woff2'),
        url('/fonts/GTPressura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu-Bold.woff2') format('woff2'),
        url('/fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu-Bold.woff2') format('woff2'),
        url('/fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu-Medium.woff2') format('woff2'),
        url('/fonts/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu.woff2') format('woff2'),
        url('/fonts/Apercu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.snipcart-modal__container {
  @apply z-50;  
}

.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small {
  @apply font-apercu uppercase;
}

.snipcart-cart-header__title, .snipcart-cart__secondary-header-title {
  @apply uppercase;
}

.snipcart-button-primary {
  @apply border-[1px] rounded-lg;
  @apply bg-green hover:bg-yellow hover:text-black !shadow-none;
}

.snipcart-base-button__label {
  @apply uppercase tracking-widest font-apercu;
}


.content-wrapper {
  h3 {
    @apply font-gt-pressura tracking-widest py-9;
  }
}

.uag-hide-mob {
  @apply hidden md:block;
}

.uag-hide-tab {
  @apply md:hidden lg:block;
}

.uag-hide-desktop {
  @apply lg:hidden;
}

.is-layout-flex {
  * {
    @apply p-3;
  }
}